<div class="main">
<div class="row">
    <div class="col-md-6">
        <img src="assets/img/aboutImg.jpg" alt="">
    </div>
    <div class="text col-md-6 ">
        <h5>
            About Us
        </h5>
        
        <p id="h1">
            Selected materials designed for comfort and sustainability
        </p>
       <p> At NafeesShoe, we pride ourselves on crafting shoes of unparalleled quality and style. Each pair is meticulously designed with precision and care, using only the finest materials to ensure durability, comfort, and timeless elegance. Our dedication to craftsmanship and attention to detail shine through in every stitch and every step. With NafeesShoe, you're not just buying shoes; you're investing in a legacy of excellence and sophistication
    </p>
    <p id="read-more">read more</p>

    </div>
</div>
</div>