<div class="main" >


     <h1>See how your shoes are made</h1>
     <div class="p"> <p>
        Crafted with precision and passion, our shoes are a testament to artistry and quality. Meticulously designed and expertly constructed, each pair embodies sophistication and comfort. Experience the perfect blend of style and durability with our unique footwear creations.
    </p>
     </div>

    <div class="container">
      
       <div class="text">
        <div class="text1">
        <p id="count">01</p>
        <h4>
            Pet canvas
        </h4>
   
       
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.?</p>
    </div>
    <div class="text1">
        <p id="count">02</p>
        <h4>
            Pet canvas
        </h4>
   
       
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.?</p>
    </div>
    </div>
    <div class="image">
        <img src="assets/img/howmade.png" alt="">
    </div>
    <div class="text">
        <div class="text1">
        <p id="count">03</p>
        <h4>
            Pet canvas
        </h4>
   
       
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.?</p>
    </div>
    <div class="text1">
        <p id="count">04</p>
        <h4>
            Pet canvas
        </h4>
   
       
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.?</p>
    </div>
    </div>
    </div>
</div>
